.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left:64px;
}

.header__title {
  margin: 0;
  padding-left: 64px;
  align-self: center;
  width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle  {
  margin: 0;
  position: absolute;
  max-width:388px;
  width: 100%;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  position: absolute;
}

.two-columns {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  display:flex;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color:#2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top:0px;
}

.two-columns__main-text {
  width:80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top:0px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  text-align: center;
}

.section-title {
  margin: auto;
  padding-top: 0;
  width:60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: auto;
  margin-top: 20px;
  max-width:60%;
  width:100%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  list-style: none;
  width:1100px;
  margin: auto;
  margin-bottom:100px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  text-align: left;
  width:250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom:0;
  margin-top: 100px;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2f80ed;
  text-decoration: none;
}

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.section-title_theme_dark {
  padding-top: 0;
  margin-top: 90px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-subtitle_theme_dark {
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  margin-right: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
}

.footer {
  background-color: #1f1f1f;
  padding-bottom: 40px;
  padding-top:60px;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  margin-bottom:20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width:16px;
  height: 16px;
}